@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 100vh;
  background: #9b59b6;
  overflow: hidden;
  padding: 50px;
  position: relative;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 30px 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: 14.2857142857%;
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #9b59b6;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  margin-bottom: 20px;
  background: #fff;
  color: #333;
  font-size: 1.07rem;
}

table thead tr {
  background: #f2f2f2;
  color: #333;
}

table thead th {
  padding: 10px 15px;
}

table tbody tr {
  border-bottom: 1px solid #eee;
}

table tbody tr:nth-child(even) {
  background: #f2f2f2;
}

table tbody tr:last-child {
  border-bottom: 2px solid #9b59b6;
}

table tbody td {
  padding: 10px 15px;
}

table tbody td:first-child {
  text-align: left;
}

table tbody td:last-child {
  text-align: right;
}

#calendar-container,
#orders-today-container,
#registered-users-container,
#products-games-container,
#add-game-container,
#products-accessories-container,
#add-accessories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 30px;
  border: #fff solid 2px;
  padding-bottom: 30px;
  padding-left: 15px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  gap: 20px;
}

.btn-secondary {
  color: #fff;
  background-color: #30302e;
  border-color: #30302e;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #f26522;
  border-color: #30302e;
}

.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#clock-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 30px;
  border: #fff solid 2px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: #9b59b6;
  color: #fff;
  font-size: 3rem;
  font-family: Bangers;
  font-weight: bold;
  line-height: 100px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.clock {
  height: 40%;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  color: #fee;
  font-size: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.clock > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.tick {
  line-height: 17vh;
}

.tick-hidden {
  opacity: 0;
}

.move {
  -webkit-animation: move linear 1s infinite;
  animation: move linear 1s infinite;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }
  to {
    -webkit-transform: translateY(-20vh);
    transform: translateY(-20vh);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }
  to {
    -webkit-transform: translateY(-20vh);
    transform: translateY(-20vh);
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border: 1px solid #fff;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 200px;
  font-family: Bangers;
}
