h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  color: #0099ff;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #0099ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body {
  background: url("../images/background-blob-animated.svg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: soft-light;
  -webkit-backdrop-filter: opacity(0.7);
          backdrop-filter: opacity(0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: "Open Sans", sans-serif;
  color: #0099ff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.cta-btn {
  background-color: #ff0066;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

.cta-btn:hover {
  background-color: darken #ff0066, 10%;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0066, 0 0 30px #ff0066, 0 0 40px #ff0066, 0 0 55px #ff0066, 0 0 75px #ff0066;
  cursor: pointer;
}

.footer_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  background-color: #252525;
  height: auto;
}

.footer_logo {
  width: 100%;
  height: auto;
  text-align: center;
}

.footer_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input.mail_bt::-webkit-input-placeholder {
  color: #fff;
}

input.mail_bt::-moz-placeholder {
  color: #fff;
}

input.mail_bt:-ms-input-placeholder {
  color: #fff;
}

input.mail_bt::-ms-input-placeholder {
  color: #fff;
}

input.mail_bt::placeholder {
  color: #fff;
}

.footer_menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.footer_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 20px 10px 0px 10px;
}

.footer_menu li a {
  color: #f1f1f1;
}

.footer_menu li a:hover {
  color: #f26522;
}

.location_main {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

.location_main {
  float: left;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 30px 30px 30px;
}

.location_main a {
  color: #ffffff;
}

.location_main a:hover {
  color: #f26522;
}

.copyright_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
}

.copyright_text {
  width: 100%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #f26522;
}

/* Navigation bar */
.navbar {
  background-color: #0099ff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.navbar-brand:hover {
  background-color: #007acc;
}

.navbar-toggler-icon {
  background-color: #ffff00;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0066, 0 0 30px #ff0066, 0 0 40px #ff0066, 0 0 55px #ff0066, 0 0 75px #ff0066;
}

.nav-link:hover {
  color: #e6e6e6;
}

#searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#acc-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

#user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  width: 100vh;
  height: 100vh;
}
#user-details h2 {
  font-size: 2rem;
}
#user-details h3 {
  font-size: 1.5rem;
}
#user-details label {
  font-size: 1 rem;
}

#edit-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  width: 100vh;
}

#password-form,
#email-form,
#address-form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#password-form h2,
#email-form h2,
#address-form h2 {
  font-size: 2rem;
}
#password-form h3,
#email-form h3,
#address-form h3 {
  font-size: 1.5rem;
}
#password-form label,
#email-form label,
#address-form label {
  font-size: 1 rem;
}
#password-form input,
#email-form input,
#address-form input {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
}

.order-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #252525;
  color: white;
}

tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #252525;
  color: white;
}

td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: start;
  background-color: #252525;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0066, 0 0 30px #ff0066, 0 0 40px #ff0066, 0 0 55px #ff0066, 0 0 75px #ff0066;
  cursor: pointer;
}

th {
  width: 100%;
  height: 100%;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: justify;
  background-color: #252525;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0066, 0 0 30px #ff0066, 0 0 40px #ff0066, 0 0 55px #ff0066, 0 0 75px #ff0066;
  cursor: pointer;
}