.sql
.zip
.env
mysql/dump/gg_database_users.sql
mysql/dump/gg_database_administrators.sql
mysql/Hakaton.zip
mysql/dump/gg_database_deals.sql
mysql/dump/gg_database_free_games.sql
mysql/dump/gg_database_games.sql
mysql/dump/gg_database_gaming_gear.sql
mysql/dump/gg_database_routines.sql
mysql/dump/gg_database_upcoming.sql
node_modules
package-lock.json